body{
font-family: 'Inter', sans-serif;
font-family: 'Merriweather', serif;
}


/* header section start */
.container{
    margin: 0px 50px;
    
}



.header{
    
    background-image: url(../images/Banner\ Image.png);
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(../images/Banner\ Image.png);;
    background-repeat: no-repeat;
    height: 600px;
    border-radius: 16px;
    flex-shrink: 0;
    
   
    
}

.header-text{
    width: 632px;
    margin-top: 0;
    padding-top: 133px;
    padding-left: 260px;
     text-align: center;

}

#header-intro{
    margin-bottom: 0px;
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
   

}
#header-info{
   
    
    margin-top: 15px;
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    

}


    /* main section start */


    .discount-info{
        text-align: center;
    }

    #discount-mark{
    color: #F00;
    font-family: Inter;
    text-align: center;
    font-size: 88px;
    font-weight: 700;
    }

    #discount-title{
    
    color: #F00;
    font-family: Inter;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    }

    #discount-direction{
    margin-top: 10px;
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    }

    /* party section */

    .party-section{
        background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(../images/Vectorrr.png);
        display: flex;
        height: 600px;
        margin-top: 90px;
    }

    .paty-info{
        padding-top: 90px;
        padding-left: 90px;

    }

    .party-year{
        padding-top: 90px;
    }

    #party-greetings{
     width: 642px;
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    }

    #party-text{
    width: 640px;
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    }

    #party-call{
        width: 200px;
        color: #FFF;
        text-align: center;
        font-family: Inter;
        font-size: 20px;
        font-weight: 700;
        text-transform: uppercase;
                
    }

    /* party adress section */
    

  